body {
  background-color: #d0d7c4;
}
.kotakluar {
  position: absolute;
  width: 327px;
  height: 847px;
  left: 24px;
  top: 66px;

  background: #5d724f;
  border-radius: 10px;
}
.title-rsvp {
  position: absolute;
  height: 48px;
  left: 36%;
  right: 37.33%;
  top: 27px;

  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.025em;
}
.close {
  position: absolute;
  width: 44px;
  height: 46.75px;
  left: 298.12px;
  top: -10px;
}
.name {
  position: absolute;
  width: 133px;
  height: 24px;
  left: 28px;
  top: 91px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.phone {
  position: absolute;
  width: 50px;
  height: 24px;
  left: 28px;
  top: 175px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.relation {
  position: absolute;
  width: 88px;
  height: 24px;
  left: 28px;
  top: 260px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
.confirmation {
  position: absolute;
  width: 109px;
  height: 24px;
  left: 28px;
  top: 345px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
.number-pax {
  position: absolute;
  width: 119px;
  height: 24px;
  left: 28px;
  top: 427px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
.full-name2 {
  position: absolute;
  width: 146px;
  height: 24px;
  left: 28px;
  top: 510px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
.wishes {
  position: absolute;
  width: 55px;
  height: 24px;
  left: 28px;
  top: 595px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
.form {
  background-color: transparent;
  width: 272px;
  height: 43px;
  left: 24px;
  top: 122px;
  right: 27px;
  border: solid 1px #ffffff;
}
.form2 {
  background-color: transparent;
  width: 272px;
  height: 110px;
  left: 24px;
  top: 122px;
  right: 27px;
  border: solid 1px #ffffff;
}
.form-out {
  padding-top: 10px;
}
.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 4px;

  position: absolute;
  width: 272px;
  height: 50px;
  left: 28px;
  top: 771px;

  background: #bd7b5f;
  border-radius: 5px;
}
